<form role="form">
  <div class="form-group">
    <label for="namn" class="control-label">Namn</label>
    <input type="text" ng-model="aktie.Namn" class="form-control" id="namn" placeholder="Namn"/>
  </div>
  <div class="form-group">
    <label for="symbol" class="control-label">Symbol</label>
    <input type="text" ng-model="aktie.Symbol" class="form-control" id="symbol"/>
  </div>
  <div class="form-group">
    <label for="symbol" class="control-label">ISIN</label>
    <input type="text" ng-model="aktie.ISIN" class="form-control" id="symbol"/>
  </div>
  <div class="form-group">
    <label for="symbol" class="control-label">Sektor</label>
    <input type="text" ng-model="aktie.Sektor" class="form-control" id="symbol"/>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveAktie()" value="Spara"/>
</form>